@import 'variables.scss';

body {
	font-size: $font-size-base;
  color: $color-standard;
  background: $color-background;
  margin: $body-margin;
}
.headline {
	font-size: $font-size-headline;
  color: $color-emphasis;
}
.byline {
	font-size: $font-size-byline;
  color: $color-standard;
}
.nav-item {
	font-size: $font-size-standard;
  color: $color-standard;
  display: block;
  list-style: circle;
}
.body-copy {
	font-size: $font-size-standard;
  color: $color-standard;
}
.sub {
	font-size: $font-size-subtext;
  color: $color-weak;
}
#wrapper {
  width: $wrapper-phone;
  margin: auto;
}
.alert {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// test devices
#phone {
  display: none;
  background-color: aliceblue;
}
#tablet {
  display: none;
  background-color: lightslategray;
}
#laptop {
  display: none;
  background-color: magenta;
}

@media (min-width: $device-phone) {
  #phone {
    display: block;
  }
}

@media (min-width: $device-tablet) {

  .nav-item {
    font-size: $font-size-standard;
    color: $color-standard;
    display: inline-block;
    list-style: none;
  }
  #wrapper {
    width: $wrapper-tablet;
  }

  #phone {
    display: none;
  }
  #tablet {
    display: block;
  }

}

@media (min-width: $device-computer) {

  #wrapper {
    width: $wrapper-laptop;
  }

  #phone {
    display: none;
  }
  #tablet {
    display: none;
  }
  #laptop {
    display: block;
  }
}
