$font-size-base: 16px;
$font-size-standard: 1rem;
$font-size-headline: 3rem;
$font-size-byline: 1.5rem;
$font-size-subtext: 0.75rem;

$color-standard: black;
$color-background: white;
$color-emphasis: navy;
$color-weak: darkgray;
